<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>場地詳情</title>
<link rel="stylesheet" th:href="@{/css/front-end/venue/listOneVenue.css}" href="venue-detail.css">
</head>
<body>
	<a class="back-link" th:href="@{/front/venue/listAllVenue}">← 回場地列表</a>
	<div class="card">
		<img class="main-img"
			th:if="${venueVO.coverImage != null}"
			th:src="@{/venue/getImage(imagesId=${venueVO.coverImage.imagesId})}" />
		<div class="body">
			<div class="venue-name" th:text="${venueVO.venueName}"></div>
			<div class="venue-addr" th:text="${venueVO.address}"></div>
			<div class="info-row">
				<div class="info-item">
					<div class="info-label">容納人數</div>
					<div class="info-value">
						<span th:text="${venueVO.capacity}"></span> 人
					</div>
				</div>
				<div class="info-item">
					<div class="info-label">每小時費用</div>
					<div class="info-value">
						<span th:text="${venueVO.hourlyRate}"></span> 元
					</div>
				</div>
			</div>
			<hr />
			<div class="section-title">場地照片</div>
			<div class="img-grid">
				<img th:each="img : ${venueVO.venueImages}"
					th:src="@{/venue/getImage(imagesId=${img.imagesId})}" />
			</div>
			<div class="book-row">
				<div class="price-note">
					每小時 <span th:text="${venueVO.hourlyRate}"></span> 元
				</div>
				<a class="btn-book"
					th:href="@{/front/venueOrder/addVenueOrder(venueId=${venueVO.venueId})}">預約此場地</a>
			</div>
		</div>
	</div>
</body>
</html>
