<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a th:href="@{/front/venue/myVenue}"
		style="display: inline-block; padding: 8px 16px; background: #1d9e75; color: white; border-radius: 6px; font-size: 14px; text-decoration: none;">
		我的場地 </a>
	<a th:href="@{/front/venueOrder/myVenueOrder}"
		style="display: inline-block; padding: 8px 16px; background: #1d9e75; color: white; border-radius: 6px; font-size: 14px; text-decoration: none;">
		我的場地訂單 </a>
</body>
</html>