<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>我的場地</title>
<link rel="stylesheet" th:href="@{/css/front-end/venue/myVenue.css}" href="my-venue.css">
</head>
<body>
    <div class="header">
        <h1>我的場地</h1>
        <div class="user-info">
	    <span>
	        當前登入會員：<strong th:text="${session.memberVO.nickname}"></strong>
	    </span>
	    <a th:if="${session.memberVO != null}" th:href="@{/member/logout}">登出</a>
	</div>
        <a class="btn-add" th:href="@{/front/venueOrder/myVenueOrder}">我的訂單</a>
        <a class="btn-add" th:href="@{/front/venue/listAllVenue}">瀏覽場地頁面</a>
        <a class="btn-add" th:href="@{/front/venue/addVenue}">新增場地</a>
    </div>
    <div class="venue-grid">
        <div th:each="venue : ${venueListData}" class="venue-card">
            <img th:if="${venue.coverImage != null}"
                 th:src="@{/front/venue/getImage(imagesId=${venue.coverImage.imagesId})}"
                 class="card-img"/>
			<div class="card-body">
			    <h3 th:text="${venue.venueName}"></h3>
			    <p th:text="${venue.address}"></p>
			    <p>容納人數：<span th:text="${venue.capacity}"></span> 人</p>

			    <p class="created-at">
			        建立時間：<span th:text="${#temporals.format(venue.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
			    </p>

			    <span th:class="${venue.venueStatus == 0 ? 'badge badge-down' : 'badge badge-up'}"
			          th:text="${venue.venueStatus == 0 ? '下架' : '上架'}"></span>
			    <div class="actions">
			        <a th:href="@{/front/venue/getOneMyVenue(venueId=${venue.venueId})}" class="btn-edit btn-edit-link">查看</a>
			    </div>
			</div>
        </div>
    </div>
</body>
</html>
