<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="header(active)">

		<div th:replace="~{front-end/common/navbar :: navbar}"></div>

		<div class="myvenue-topbar">
			<div class="myvenue-topbar__inner">
				<h1 class="myvenue-topbar__title">場地管理</h1>
				<nav class="myvenue-tabs">
					<a th:href="@{/front/venue/myVenue}"
					   th:classappend="${active == 'myVenue'} ? 'is-active' : ''">我的場地</a>
					<a th:href="@{/front/venueOrder/myVenuesReservations}"
					   th:classappend="${active == 'myVenuesReservations'} ? 'is-active' : ''">場地預約狀況</a>
					<a th:href="@{/front/venueOrder/myVenuesCompleted}"
					   th:classappend="${active == 'myVenuesCompleted'} ? 'is-active' : ''">訂單結算與評價</a>
					<a th:href="@{/front/venueOrder/myVenueOrder}"
					   th:classappend="${active == 'myVenueOrder'} ? 'is-active' : ''">我的訂單</a>
					<a th:href="@{/front/venue/listAllVenue}">瀏覽場地頁面</a>
					<a th:href="@{/front/venue/addVenue}" class="myvenue-tabs__cta">新增場地</a>
				</nav>
			</div>
		</div>

	</div>
</body>
</html>
