<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>查詢全部會員</title>
  </head>
  <body>
    <div>
      <span th:if="${session.loginEmployeeId != null}">
        當前登入員工編號：
        <strong th:text="${session.loginEmployeeId}"></strong>
      </span>

      <span th:if="${session.loginEmployeeId == null}">
        目前狀態： <strong>未登入</strong>
      </span>
    </div>
    <div>
      <a th:href="@{fakeLogin}">員工登入</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>會員ID</th>
          <th>帳號</th>
          <th>暱稱</th>
          <th>性別</th>
          <th>狀態</th>
          <th>建立時間</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="m : ${memberListData}">
          <td th:text="${m.memberId}"></td>
          <td th:text="${m.email}"></td>
          <td th:text="${m.nickname}"></td>
          <td th:switch="${m.gender}">
            <span th:case="0">男</span>
            <span th:case="1">女</span>
            <span th:case="2">其他</span>
          </td>
          <td>
            <form
              th:action="@{updateMemberStatus}"
              method="post"
              style="display: inline"
            >
              <input type="hidden" name="memberId" th:value="${m.memberId}" />
              <select name="accountStatus" onchange="submitForm(this)">
                <option value="0" th:selected="${m.accountStatus == 0}">
                  未驗證
                </option>
                <option value="1" th:selected="${m.accountStatus == 1}">
                  正常
                </option>
                <option value="2" th:selected="${m.accountStatus == 2}">
                  註銷
                </option>
                <option value="3" th:selected="${m.accountStatus == 3}">
                  停權
                </option>
                <option value="4" th:selected="${m.accountStatus == 4}">
                  限制參加活動
                </option>
              </select>
            </form>
          </td>
          <td th:text="${m.createdAt}"></td>
        </tr>
      </tbody>
    </table>
    <script>
      function submitForm(e) {
        const form = e.closest("form");
        form.submit();
      }
    </script>
  </body>
</html>
