<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<title>全部通知</title>
</head>
<body>
	<div>
		<h1>全部通知</h1>
		<span th:if="${session.loginEmployeeId != null}">
			當前登入員工編號： 
			<strong th:text="${session.loginEmployeeId}"></strong>
		</span>

		<span th:if="${session.loginEmployeeId == null}">
			目前狀態： <strong>未登入</strong>
		</span>
	</div>
	<a th:href="@{/notification/fakeLogin}">員工登入</a>
	<a th:href="@{/notification/myNotification}">負責的通知</a>
	<a th:href="@{/notification/addNotification}">新增通知</a>
	<table>
		<thead>
			<tr> 	
			</tr>		    
	    </thead>
	    <tbody>
	    	
	    	<tr th:each="n : ${notificationListData}">
		        <td th:text="${n.notificationId}"></td>
		        <td th:text="${n.member.memberId}"></td>
		        <td th:text="${n.title}"></td>
		        <td th:text="${n.content}"></td>
		        <td th:text="${n.notificationType}"></td>
		        <td th:text="${n.isRead}"></td>
		        <td th:text="${n.report != null ? n.report.reportId : '無'}"></td>
		        <td th:text="${n.employee?.employeeId}"></td>
		        <td th:text="${n.createdAt}"></td>
				<td>
					<form th:action="@{/notification/getOne_For_update}" method="post">
						<input type="hidden"  name="notificationId" th:value="${n.notificationId}"/>
						<button type="submit">修改</button>
					</form>
				</td>
				<td>
					<form th:action="@{/notification/delete}" method="post">
						<input type="hidden"  name="notificationId" th:value="${n.notificationId}"/>
						<button type="submit">刪除</button>
					</form>
				</td>
		    </tr>
	    </tbody>
	</table>

</body>
</html>