<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<title>負責的通知</title>
</head>
<body>
	<div>
		<h1>場地列表</h1>
		
	</div>
	<a th:href="@{/admin/platform/notification/listAllNotification}">查看所有通知</a>
	<a th:href="@{/admin/platform/notification/addNotification}">新增通知</a>
	<table>
		<thead>
			<tr>
				<th>通知編號</th>
				<th>會員編號</th>
				<th>標題</th>
				<th>內容</th>
				<th>通知類型</th>
				<th>是否已讀</th>
				<th>檢舉編號</th>
				<th>員工編號</th>
				<th>建立時間</th>
			</tr>		    
	    </thead>
	    <tbody>
	    	
	    	<tr th:each="n : ${notificationEmpListData}">
		        <td th:text="${n.notificationId}"></td>
		        <td th:text="${n.member.memberId}"></td>
		        <td th:text="${n.title}"></td>
		        <td th:text="${n.content}"></td>
		        <td th:text="${n.notificationType}"></td>
		        <td th:text="${n.isRead}"></td>
		        <td th:text="${n.report != null ? n.report.reportId : '無'}"></td>
		        <td th:text="${n.employee?.employeeId}"></td>
		        <td th:text="${n.createdAt}"></td>
				<td>
					<form th:action="@{/admin/platform/notification/getOne_For_update}" method="post">
						<input type="hidden"  name="notificationId" th:value="${n.notificationId}"/>
						<button type="submit">修改</button>
					</form>
				</td>
				<td>
					<form th:action="@{/admin/platform/notification/delete}" method="post">
						<input type="hidden"  name="notificationId" th:value="${n.notificationId}"/>
						<button type="submit">刪除</button>
					</form>
				</td>
		    </tr>
	    </tbody>
	</table>

</body>
</html>