<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
<meta charset="UTF-8">
<title>修改密碼</title>
<link rel="stylesheet" th:href="@{/css/front-end/member/profileEdit.css}" />
</head>
<body class="page-body">
    <form class="profile-form" th:action="@{/front/memberPage/changePassword}" th:object="${memberVO}" method="post">

        <input type="hidden" th:field="*{memberId}" />

        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

        <div class="form-group">
            <label>原密碼</label>
            <input type="password" th:field="*{oldPassword}" autocomplete="current-password" class="form-control" />
            <span class="text-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></span>
        </div>

        <div class="form-group">
            <label>新密碼</label>
            <input type="password" th:field="*{newPassword}" autocomplete="new-password" class="form-control" />
            <span class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
        </div>

        <div class="form-group">
            <label>確認新密碼</label>
            <input type="password" th:field="*{confirmPassword}" autocomplete="new-password" class="form-control" />
            <span class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
        </div>

        <button type="submit" class="btn btn-primary">修改密碼</button>
    </form>
</body>
</html>