<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>會員全部通知</title>
  <link rel="stylesheet" th:href="@{/css/front-end/common/navbar.css}">
  <script th:src="@{/js/front-end/common/notificationPolling.js}"></script>
</head>
<div th:replace="~{front-end/common/navbar :: navbar}"></div>

<body>

    <div>
        <h1>全部通知</h1>

        <span th:if="${session.memberVO != null}">
            當前登入會員編號：
            <strong th:text="${session.memberVO?.memberId}"></strong>
        </span>

        <span th:if="${session.memberVO == null}">
            目前登入狀態： <strong>未登入</strong>
        </span>
    </div>

    <table>
        <thead>
            <td>標題</td>
            <td>內容</td>
            <td>通知類型</td>
            <td>是否已讀</td>
            <td>建立時間</td>
        </thead>
        <tbody>
            <tr th:each="n:${notificationVO}">
                <td th:text="${n.title}"></td>
                <td th:utext="${n.content}"></td>
                <td th:text="${n.notificationType}"></td>
                <td th:text="${n.isRead != null and n.isRead == 1 ? '已讀' : '未讀'}"></td>
                <td th:text="${n.createdAt}"></td>
                <td>
                    <form th:action="@{/front/notification/getOneNotification}" method="get">
                        <input type="hidden" name="notificationId" th:value="${n.notificationId}" /> 
                        <button type="submit">查看</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>




</body>

</html>