<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
<meta charset="UTF-8">
<title>Webond 首頁</title>
</head>
<body>

<table>
  <div>
    <!-- 已登入 -->
 
		<a th:if="${session.memberVO != null}"   th:href="@{/front/memberPage/my(memberId=${session.memberVO.memberId})}" >自己的頁面</a>
	
    
    
    <!-- 沒登入 -->
    <a th:if="${session.memberVO == null}" 
       th:href="@{/member/login}">
        自己的頁面
    </a>
</div>
      <thead>
        <tr>
          <th>會員ID</th>

          <th>查看會員頁面</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="m : ${memberListData}">
          <td th:text="${m.memberId}"></td>
         
          <td>
          	<a th:href="@{/front/memberPage/oneMember(memberId=${m.memberId})}">會員頁面</a>
          </td>
        </tr>
      </tbody>
    </table>
</body>
</html>