<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- ================= 新增員工燈箱 ================= -->
	<div th:fragment="formContent">

		<h3>新增員工資料</h3>
		<form th:action="@{/admin/insert}" method="POST"
			th:object="${employeeVO}" enctype="multipart/form-data">
			<table border="0" cellpadding="5">
				<tr>
					<td style="white-space: nowrap;">姓名：</td>
					<td><input type="text" id="empNameInput" th:field="*{empName}"
						onclick="clearNativeError(this);" required
						style="width: 100%; max-width: 250px; padding: 6px; border: 1px solid #7a7a7a !important; border-radius: 4px; box-sizing: border-box;">
						<span th:if="${#fields.hasErrors('empName')}"
						th:text="${#fields.errors('empName')}" class="error"
						data-target="#empNameInput" style="display: none;"> </span></td>
				</tr>

				<tr>
					<td style="white-space: nowrap;">帳號：</td>
					<td><input type="text" id="empAccountInput" th:field="*{empAccount}"
						onclick="hideContent('empAccount.errors');" required
						style="width: 100%; max-width: 250px; padding: 6px; border: 1px solid #7a7a7a !important; border-radius: 4px; box-sizing: border-box;"
						placeholder="請輸入英文或數字帳號"></td>
					<td><span th:if="${#fields.hasErrors('empAccount')}"
						th:errors="*{empAccount}" class="error" data-target="#empAccountInput" style="display: none;"></span></td>

				</tr>
				<tr>
					<td style="white-space: nowrap;">密碼：</td>
					<td><input type="password" th:field="*{empPassword}"
						onclick="hideContent('empPassword.errors');" required
						style="width: 100%; max-width: 250px; padding: 6px; border: 1px solid #7a7a7a !important; border-radius: 4px; box-sizing: border-box;"
						placeholder="請輸入密碼"></td>
					<td><span th:if="${#fields.hasErrors('empPassword')}"
						th:errors="*{empPassword}" class="error" id="empPassword.errors"></span></td>

				</tr>

				<tr>
					<td style="white-space: nowrap;">職稱：</td>
					<td><input type="text" th:field="*{roleTitle}"
						onclick="hideContent('roleTitle.errors');" required
						style="width: 100%; max-width: 250px; padding: 6px; border: 1px solid #7a7a7a !important; border-radius: 4px; box-sizing: border-box;">
					</td>
					<td><span th:if="${#fields.hasErrors('roleTitle')}"
						th:errors="*{roleTitle}" class="error" id="roleTitle.errors"></span></td>

				</tr>
				<tr>
					<td>權限範圍：</td>
					<td>
						<div
							style="display: flex; flex-wrap: wrap; gap: 10px; max-width: 320px; max-height: 120px; overflow-y: auto; white-space: normal; padding: 5px; border: 1px solid #e0e0e0; border-radius: 4px; background-color: #fafafa;">
							<th:block th:each="perms : ${permVO}">
								<label
									style="display: inline-flex; align-items: center; white-space: nowrap; cursor: pointer; background: #eee; padding: 4px 8px; border-radius: 4px; font-size: 13px;">
									<input type="checkbox" name="permIds"
									onclick="hideContent('empPermVO.errors');"
									th:value="${perms.permId}" style="margin-right: 4px;">
									<span th:text="${perms.permName}"></span>

								</label>
							</th:block>
						</div> <span th:if="${#fields.hasErrors('empPermVO')}"
						th:errors="*{empPermVO}" class="error" id="empPermVO.errors"></span>

					</td>
				</tr>

				<tr>
					<td
						style="white-space: nowrap; color: black; vertical-align: top; padding-top: 8px;">員工照片：</td>
					<td><input type="file" name="upImg"
						onclick="hideContent('empImg.errors');" accept="image/*"
						onchange="previewImage(this);" style="margin-bottom: 12px;"><br>
						<div
							style="width: 120px; height: 120px; border: 2px dashed #a0a0a0; border-radius: 6px; padding: 4px; background-color: #fafafa; display: flex; justify-content: center; align-items: center; box-sizing: border-box;">

							<div id="noImageCircle"
								style="width: 50px; height: 50px; border-radius: 50%; background-color: #e0e0e0; color: #666; font-size: 12px; line-height: 50px; text-align: center; font-weight: bold; display: block;">
								無</div>

							<img id="imagePreview" alt="圖片預覽"
								style="width: 100%; height: 100%; object-fit: cover; border-radius: 4px; display: none;" />
							<span class="error" th:utext="${errorMessage}"
								id="upFiles.errors"></span>

						</div></td>
				</tr>


			</table>
			<br>
			<button type="submit">確認儲存</button>
			<button type="button" th:onclick="|window.location.href='@{/admin/empPage}'|" onclick="closeEmpModal()">取消</button>
		</form>
	</div>


</body>
</html>