<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <title>後台管理系統</title>
</head>
<body>
    <h1>歡迎回來，後台管理員！</h1>

    <ul>
        <!-- 只有擁有 EMP_MGR 權限才能看到此按鈕 -->
        <li sec:authorize="hasAuthority('管理員工')">
            <a th:href="@{/admin/employee/list}">員工管理系統</a>
        </li>

        <!-- 只有擁有 VENUE_MGR 權限才能看到此按鈕 -->
        <li sec:authorize="hasAnyAuthority('管理員工','管理服務訂單')">
            <a th:href="@{/admin/venue/list}">服務管理系統</a>
        </li>

        <!-- 只有擁有 ACT_MGR 權限才能看到此按鈕 -->
        <li sec:authorize="hasAuthority('管理場地')">
            <a th:href="@{/admin/activity/list}">活動管理系統</a>
        </li>
    </ul>

    <form th:action="@{/admin/logout}" method="post">
        <button type="submit">登出</button>
    </form>
</body>
</html>
