<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台管理中心登入系統</title>
    <link th:href="@{/css/back-end/employee/adminLogin.css}" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- 整個 card 區塊會被 body 的 flex 屬性完美鎖定在畫面正中央 -->
    <div class="login-card">
        
        <!-- 標題區域 -->
        <div class="title-area">
            <h2>管理中心登入系統</h2>
        </div>

<div th:if="${loginErrorMessage != null}" class="error-message">
    <span th:text="${loginErrorMessage}"></span>
</div>



        <!-- 登入表單 -->
        <form th:action="@{/admin/login}" method="post" class="login-form">
            
            <div class="form-group">
                <label>帳號</label>
                <input type="text" name="username"  class="form-control" placeholder="請輸入帳號">
            </div>

            <div class="form-group">
                <label>密碼</label>
                <input type="password" name="password" autocomplete="new-password"  class="form-control" placeholder="••••••••">
            </div>

<!--             <div class="form-options"> -->
<!--                 <a th:href="@{/admin/forgotPassword}" class="link-primary">忘記密碼？</a> -->
<!--             </div> -->

            <button type="submit" class="btn-submit">
                立即登入
            </button>
            
        </form>
        
    </div>

</body>
</html>
