<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>修改初始密碼</title>
</head>
<body style="font-family: sans-serif; padding: 20px;">

	<h2>請變更初始密碼</h2>
	<p>為了帳號安全，第一次登入請先修改密碼。</p>

	<!-- 後端錯誤提示 -->
	<p th:if="${errorMessage}" th:text="${errorMessage}"
		style="color: red;"></p>


	<form th:action="@{/admin/upPassword}" method="POST"
		th:object="${empPasswordDTO}">

		<table cellpadding="6"
			style="border-collapse: collapse; text-align: left;">
			<tr>
				<td style="white-space: nowrap;">目前的初始密碼：</td>
				<td><input type="password" th:field="*{currentPassword}"
					style="width: 100%; max-width: 250px; padding: 6px; border: 1px solid #7a7a7a !important; border-radius: 4px; box-sizing: border-box;">

					<span th:if="${#fields.hasErrors('currentPassword')}"
					th:errors="*{currentPassword}" class="error"
					style="color: #ff3333; font-size: 0.85rem; display: block; margin-top: 5px; font-weight: bold; text-align: left;">
				</span></td>
			</tr>
			<tr>
				<td style="white-space: nowrap;">新密碼：</td>
				<td><input type="password" th:field="*{newPassword}"
					style="width: 100%; max-width: 250px; padding: 6px; border: 1px solid #7a7a7a !important; border-radius: 4px; box-sizing: border-box;">

					<span th:if="${#fields.hasErrors('newPassword')}"
					th:errors="*{newPassword}" class="error"
					style="color: #ff3333; font-size: 0.85rem; display: block; margin-top: 5px; font-weight: bold; text-align: left;">
				</span></td>
			</tr>

			<tr>
				<td style="white-space: nowrap;">再次輸入新密碼：</td>
				<td><input type="password" th:field="*{confirmPassword}"
					style="width: 100%; max-width: 250px; padding: 6px; border: 1px solid #7a7a7a !important; border-radius: 4px; box-sizing: border-box;">

					<span th:if="${#fields.hasErrors('confirmPassword')}"
					th:errors="*{confirmPassword}" class="error"
					style="color: #ff3333; font-size: 0.85rem; display: block; margin-top: 5px; font-weight: bold; text-align: left;">
				</span></td>
			</tr>
			<tr>
				<td></td>
				<td><br>
					<button type="submit">儲存變更</button> <!-- 透過 &nbsp; 隔開距離，並用 Javascript 觸發隱藏的登出表單 -->
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button"
						onclick="document.getElementById('logoutForm').submit();">稍後設定並登出</button>
				</td>
			</tr>
		</table>
	</form>

	<form id="logoutForm" th:action="@{/admin/logout}" method="post"
		style="display: none;"></form>

</body>
</html>
